body{
    background: rgb(156, 42, 42);
}

div {
	display: table;
	width: 200px;
	height: 200px;
	background: rgb(189, 209, 9);
	margin: 100px auto;
	cursor: pointer;
}

span {
	color: rgb(173, 18, 135);
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-family: Helvetica;
}